# Create a Class

In [1]:
class myclass:
    x=5
print(myclass)

<class '__main__.myclass'>

# Create Object

In [2]:
p1=myclass()
r=p1.x
print(r)

5

# The __init__() Method

In [5]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
p1=person("hasib",23)
print(p1.name)
print(p1.age)

hasib
23

# The __str__() Method

In [7]:
class persion:
    def __init__(self,name,age):
        self.name=name
        self.age = age
    def __str__(self):
        return f"{self.name}({self.age})"
        
p1=persion("hasib ud jaman",23)

print(p1)

hasib ud jaman(23)

# Create Methods

In [16]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def __str__(self):
        return f"{self.name}({self.age})"
    def myfunction(self):
        print("my name is " + self.name)
p1=person("hasib",23)
print(p1)
print(p1.name)
p1.myfunction()
p1.age=43
print(p1)

hasib(23)
hasib
my name is hasib
hasib(43)

# The self Parameter

In [17]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

# Modify Object Properties

In [19]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()
p1.age = 40
print(p1.age)

Hello my name is John
40

# Delete Object Properties

In [23]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()
p1.age = 40
del p1.age
del p1
print(p1)
print(p1.age)

Hello my name is John

NameError: name 'p1' is not defined

# The pass Statement

In [24]:
class Person:
  pass

# Python Inheritance

In [40]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [46]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def myfunction(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:



class student(Person):
    pass
x=student("hasib","nime")
x.myfunction()

hasib nime

In [57]:
class person:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def printfunction(self):
        print(self.name,self.age)
class student(person):
    def __init__(self,name,age):
        
        
        
        person.__init__(self,name,age)
        
       
        
x=student("hasib","nime")
x.printfunction()

hasib nime

# super_key

In [58]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [59]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [60]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [61]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2024)
x.welcome()

Welcome Mike Olsen to the class of 2024

# Python Iterators

In [66]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))

apple
banana

In [67]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

b
a
n
a
n
a

# Python Polymorphism

# Function Polymorphism

In [68]:
x = "Hello World!"

print(len(x))

12

In [69]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

# Class Polymorphism

In [71]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

# Inheritance Class Polymorphism

In [72]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

# Python Modules

In [74]:
def greeting(name):
    print("hello" + name)
pi=3.1416

# Python Datetime

In [76]:
import datetime
x=datetime.datetime.now()
print(x)
print(x.year)

2025-09-04 17:41:09.744836
2025